.telicko {
    background-color: rgb(62, 64, 66);
    margin: 0;
    padding: 0;
}

header, footer {
    text-align: center;
    color: white;
}

section {
    display: grid;
    grid-template-columns: 5% repeat(3, 100px);
  grid-template-rows: repeat(6, 100px);
  background-color: orange;
}


.S {
    background-color: #FF7F7F;
    grid-area: 1 / 1 / 1 / 1;
}

.A {
    background-color: #FFBF7F;
    grid-area: 2 / 1 / 3 / 2;
}

.B {
    background-color: #FFDF7F;
    grid-area: 3 / 1 / 4 / 2;  
}

.C {
    background-color: #FFFF7F;
    grid-area: 4 / 1 / 5 / 2; 
}

.D {
    background-color: #BFFF7F;
    grid-area: 5 / 1 / 6 / 2; 
}

.F {
    background-color: #7FFF7F;
    grid-area: 6 / 1 / 7 / 2; 
}

.lakers {
    grid-area: 1 / 2 / 2 / 3; 
    gap: 10px;
}

.grizzlies {
    grid-area: 1 / 4 / 2 / 5;
    gap: 10px;
}

.celtics {
    grid-area: 1 / 3 / 3 / 4;
    gap: 10px;
}

.bulls {
    grid-area: 2 / 2 / 3 / 3;
    gap: 10px;
}

.goldenstate {
    grid-area: 3 / 2 / 4 / 3;
    gap: 10px;
}

.heat {
    grid-area: 3 / 3 / 4 / 4;
    gap: 10px;
}

.pistons {
    grid-area: 4 / 2 / 5 / 3;
    gap: 10px;
}

.hornets {
    grid-area: 5 / 2 / 6 / 3; 
    gap: 10px;
}

.sedmers {
    grid-area: 6 / 3 / 7 / 4;
    gap: 10px;
}

.trailblazers {
    grid-area: 6 / 2 / 7 / 3; 
    gap: 10px;
}

.kjobebriajnt {
    grid-area:6/8/7/9;
    height: 250px;
    width: 250px;
}

.S, .A, .B, .C, .D, .F {
    display: flex;
    padding: 10px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    
}

img {
    height: 100px;
    width: 100px;
}
